.profile {
    display: flex;
    justify-content: center; /* выравниваем по горизонтали */
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    padding-top: 74px;
}

.profile__greeting {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    min-width: 204px;
    margin-block: 0;
    margin-inline: 0;
    padding-bottom: 119px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0;
    padding: 0 0 0;
    align-items: center;
}

.profile__form:last-of-type {
  padding-bottom: 0;
}

.profile__form-flex {
    display: flex;
    border-bottom: 1px solid #424242;
    min-width: 410px;
    justify-content: space-between;
    margin-bottom: 17px;
}

.profile__form-flex:last-of-type {
    border-bottom: none;
}

.profile__text {
    font-size: 11px;
    font-weight: 500;
    line-height: normal; 
    color: #FFFFFF;
    margin: 0;
    min-width: 44px;
    padding-top: 4px;
}

.profile__change {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.profile__change:hover {
    opacity: 0.7;
}
  
.profile__input {
    border: 0;
    box-sizing: border-box;
    font-size: 11px;
    line-height: normal;
    color: #FFFFFF;
    font-weight: 500;
    margin: 0;
    padding: 4px 0 12px;
    background-color: rgba(0, 0, 0); /* фон */
    background-color: transparent;
    text-align: right;
    width: 100%;
}


.profile__input:focus {
    outline: 1px dashed rgba(145, 131, 191, 0.651);
    border-radius: 5px;
}

.profile__exit {
    padding-top: 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: normal; 
    color: #EE3465;
    margin: 0;
    text-decoration: none;
}

.profile__exit:hover {
    opacity: 70%;
    transition: .3s ease;
}

.profile__exit_disabled {
    display: none;
}

.profile__button {
    width: 396px;
    height: 45px;
    background: #4285F4;
    border-radius: 3px;
    margin-top: 13px;
    border: 0;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 16px 0;
}

.profile__button:hover {
    opacity: 0.7;
    transition: .2s ease;
}

.profile__button_disabled {
    background: #F8F8F8;
    color: #C2C2C2;
    cursor:auto;
}

.profile__button:disabled {
    background: #F8F8F8;
    color: #C2C2C2;
    cursor:auto;
}

.profile__button_disabled:hover {
    opacity: 1;
}

.profile__form-error-contaiter {
    display: flex;
    align-items: flex-end;
    margin-top: 170px
}

.profile__form-error {
    margin: 0 0 9px;
    padding-top: 6px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 13px;
    color: #059F02;
}
        
@media screen and (max-width: 1279px) { 
    .profile {
        padding-top: 231px;
    }

    .profile__greeting {
        padding-bottom: 96px;
    }

    .profile__form-error-contaiter {
        margin-top: 150px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        padding-top: 66px;
    }

    .profile__greeting {
        padding-bottom: 80px;
    }

    .profile__form-flex {
        min-width: 260px;
    }

    .profile__form-error-contaiter {
        margin-top: 340px;
    }

    .profile__button {
        width: 260px;
        height: 45px;
    }
}

