.not-found {
    margin: 0 auto;
    text-align: center;
    padding-top: 246px;
}

.not-found__error{
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
    margin: 0 0 7px;
}

.not-found__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 184px;
}

.not-found__link{
    text-decoration: none;
    transition: opacity 1s linear;
    opacity: 100%;
    color: #4285F4;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.not-found__link:hover {
    opacity: 70%;
}


@media screen and (max-width: 1279px) {
    .not-found {
        padding-top: 408px;
    }

    .not-found__text {
        font-size: 16px;
        line-height: 19px;
    }

    .not-found__error{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 767px) {
    .not-found {
        padding-top: 329px;
    }

    .not-found__error{
        font-size: 80px;
        line-height: 97px;
        margin-bottom: 10px;
    }
    
    .not-found__text {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 284px;
    }
    
    .not-found__link{
        font-size: 12px;
        line-height: 15px;
    }
    
    .not-found__link:hover {
        opacity: 70%;
    }
}